fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic[email]==2.9.2
sqlalchemy[asyncio]==2.0.35
asyncpg==0.29.0
alembic==1.13.3
redis[asyncio]==5.1.1
PyJWT==2.9.0
aio-pika==9.4.3
python-multipart==0.0.12
